body
{
    
    background-color: #fffbf7;
    /* background-color:aqua; */
}

h1 {
    color:#025157;
    /* color: blue; */
}
h3
{
    color: #46484c;
    /* color:darkblue; */
}
p {
    color: #8b8b8bcc;
    /* color:gray; */
}
button
{
    color: #ffffff;
    background-color: #025157;
    /* color: aliceblue;
    background-color: blue; */
}