body
{
    /* background-color:aqua; */
    background-color: #fffbf7;
}

h1 {
    /* color: blue; */
    color:#025157;
}
h3
{
    /* color:darkblue; */
    color: #46484c;
}
p {
    /* color:gray; */
    color: #8b8b8bcc;
}
button
{
    color: #ffffff;
    background-color: #025157;
    /* color: aliceblue;
    background-color: blue; */
}